* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
}
.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: 40%; */
}
.balance-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.balance-container h3 {
  font-size: 1rem;
  text-transform: capitalize;
}
.balance-container .current_balance {
  font-size: 1.2rem;
  color: blue;
}
.transaction {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: capitalize;
  -webkit-box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  -moz-box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.transaction .minus{
    color: red;
}
.transaction .plus{
    color: rgb(19, 203, 19);
}
.inc-exp-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.income,
.expense {
  width: 50%;
  height: 10vh;
  background-color: white;
  -webkit-box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  -moz-box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  box-shadow: 2px 2px 9px 3px rgba(214, 210, 214, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
}
#income {
  color: rgb(16, 207, 16);
}
#expense {
  color: red;
}
.history{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.form-container{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.form-container h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.form-control{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.form-control .label-text{
    font-size: 1.2rem;
    text-transform: capitalize;
    
}
 .text , .amount-spent{
    height: 6vh;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.form-container .btn{
    width: 100%;
    height: 5vh;
    text-transform: capitalize;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}